#estilo1 {
    background-color: powderblue;
}
#estilo2 {
    background-color: darkgray;
}
#estilo3 {
    border: black 1px solid;
}
#estilo4 {
    background-color: tan;
}
#estilo5 {
    background-color: whitesmoke;
}