<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel = "stylesheet" href = "HTMLCrimen.css">
		<title>Selected Crime</title>
	</head>
	
	<body id = "estilo5">
	
		<div class = "container-fluid">
			
			<div class = "row" id = "estilo2">
					<div class = "col col-2" id = "estilo3"><img src="logoLAPD.png"></div>
					<div class = "col col-sm-2.5" id = "estilo3" style="text-align:center"><u>DR. Number</u><br>{{ drCode }}</div>
					<div class = "col col-sm-2.5" id = "estilo3" style="text-align:center"><u>Date Reported</u><br>{{ date1 }}</div>
					<div class = "col col-sm-2.5" id = "estilo3" style="text-align:center"><u>Date Occurred</u><br>{{date2 }}</div>
					<div class = "col col-sm-2.5" id = "estilo3" style="text-align:center"><u>Time Occurred</u><br>{{ hour }}</div>
			</div>

			<div class = "row" id = "estilo4">
				<div class = "col col-sm-2" id = "estilo3">Information</div>
				<div class = "col col-sm-3" id = "estilo3">Code</div>
				<div class = "col col-sm-3" id = "estilo3">Description</div>
				<div class = "col col-sm-4" id = "estilo3">Others</div>
			</div>
		
			<div class = "row" id = "estilo1">
				<div class = "col col-sm-2" id = "estilo3">Area</div>
				<div class = "col col-sm-3" id = "estilo3">{{ areaID }}</div>
				<div class = "col col-sm-3" id = "estilo3">{{ areaName }}</div>
				<div class = "col col-sm-4" id = "estilo3"></div>
			</div>

			<div class = "row" id = "estilo2">
				<div class = "col col-sm-2" id = "estilo3">Premise</div>
				<div class = "col col-sm-3" id = "estilo3">{{ premiseCode }}</div>
				<div class = "col col-sm-3" id = "estilo3">{{ premiseDescription }}</div>
				<div class = "col col-sm-4" id = "estilo3"></div>
			</div>

			<div class = "row" id = "estilo1">
				<div class = "col col-sm-2" id = "estilo3">Weapon</div>
				<div class = "col col-sm-3" id = "estilo3">{{ weaponCode }}</div>
				<div class = "col col-sm-3" id = "estilo3">{{ weaponDescription }}</div>
				<div class = "col col-sm-4" id = "estilo3"></div>
			</div>

			<div class = "row" id = "estilo2">
				<div class = "col col-sm-2" id = "estilo3">Status</div>
				<div class = "col col-sm-3" id = "estilo3">{{ statusCode }}</div>
				<div class = "col col-sm-3" id = "estilo3">{{ statusDescription }}</div>
				<div class = "col col-sm-4" id = "estilo3"></div>
			</div>

			<div class = "row" id = "estilo1">
				<div class = "col col-sm-2" id = "estilo3">Crime 1</div>
				<div class = "col col-sm-3" id = "estilo3">{{ crimeCode1 }}</div>
				<div class = "col col-sm-3" id = "estilo3">{{ crimeDescription1 }}</div>
				<div class = "col col-sm-4" id = "estilo3">MO Code: {{ crimeMO1 }}</div>
			</div>

			<div class = "row" id = "estilo2">
				<div class = "col col-sm-2" id = "estilo3">Crime 2</div>
				<div class = "col col-sm-3" id = "estilo3">{{ crimeCode2 }}</div>
				<div class = "col col-sm-3" id = "estilo3">{{ crimeDescription2 }}</div>
				<div class = "col col-sm-4" id = "estilo3">MO Code: {{ crimeMO2 }}</div>
			</div>

			<div class = "row" id = "estilo1">
				<div class = "col col-sm-2" id = "estilo3">Crime 3</div>
				<div class = "col col-sm-3" id = "estilo3">{{ crimeCode3 }}</div>
				<div class = "col col-sm-3" id = "estilo3">{{ crimeDescription3 }}</div>
				<div class = "col col-sm-4" id = "estilo3">MO Code: {{ crimeMO3 }}</div>
			</div>

			<div class = "row" id = "estilo2">
				<div class = "col col-sm-2" id = "estilo3">Crime 4</div>
				<div class = "col col-sm-3" id = "estilo3">{{ crimeCode4 }}</div>
				<div class = "col col-sm-3" id = "estilo3">{{ crimeDescription4 }}</div>
				<div class = "col col-sm-4" id = "estilo3">MO Code: {{ crimeMO4 }}</div>
			</div>

			<div class = "row" id = "estilo4">
				<div class = "col col-sm-2" id = "estilo3">More Information</div>
				<div class = "col col-sm-2" id = "estilo3">ID</div>
				<div class = "col col-sm-8" id = "estilo3">Data</div>
			</div>

			<div class = "row" id = "estilo1">
				<div class = "col col-sm-2" id = "estilo3">Victim</div>
				<div class = "col col-sm-2" id = "estilo3">{{ victimID }}</div>
				<div class = "col col-sm-8" id = "estilo3">Age: {{ victimAge }}; Sex: {{ victimSex }}; Descent: {{ victimDescent }}</div>
			</div>

			<div class = "row" id = "estilo2">
				<div class = "col col-sm-2" id = "estilo3">Adress</div>
				<div class = "col col-sm-2" id = "estilo3">{{ adressID}}</div>
				<div class = "col col-sm-8" id = "estilo3">Street: {{ adressStreet }}; Cross Street: {{ adressCrossStreet }}; Location: {{ adressGeoLocation }}; Reporting District: {{ adressReportingDistrict }}</div>
			</div>

			
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</body>

</html>