<html>
	<head>
		<title>Selected Crime</title>
	</head>
	
	<body>
		<h1>DR. Number: {{ drCode }}</h1>
				
				<h3>Date Reported --> {{ date1 }}</h3>
				
				<h3>Date Occurred --> {{ date2 }}</h3>
				
				<h3>Time Occurred --> {{ hour }}</h3>
				
				<h2><u>Area</u></h2>
					<p>ID --> {{ areaID }}</p>
					<p>Name --> {{ areaName }}</p>
					
				<h2><u>Crime Code 1</u></h2>
					<p>Code --> {{ crimeCode1 }}</p>
					<p>Description --> {{ crimeDescription1 }}</p>
					<p>MO Code --> {{ crimeMO1 }}</h3></p>
					
				<h2><u>Crime Code 2</u></h2>
					<p>Code --> {{ crimeCode2 }}</p>
					<p>Description --> {{ crimeDescription2 }}</p>
					<p>MO Code --> {{ crimeMO2 }}</p>
					
				<h2><u>Crime Code 3</u></h2>
					<p>Code --> {{ crimeCode3 }}</p>
					<p>Description --> {{ crimeDescription3 }}</p>
					<p>MO Code --> {{ crimeMO3 }}</p>
					
				<h2><u>Crime Code 4</u></h2>
					<p>Code --> {{ crimeCode4 }}</p>
					<p>Description --> {{ crimeDescription4 }}</p>
					<p>MO Code --> {{ crimeMO4 }}</p>
					
				<h2><u>Victim</u></h2>
					<p>ID --> {{ victimID }}</p>
					<p>Age --> {{ victimAge }}</p>
					<p>Sex --> {{ victimSex }}</p>
					<p>Descent --> {{ victimDescent }}</p>
					
				<h2><u>Premise</u></h2>
					<p>Code --> {{ premiseCode }}</p>
					<p>Description --> {{ premiseDescription }}</p>
					
					
				<h2><u>Weapon</u></h2>
					<p>Code --> {{ weaponCode }}</p>
					<p>Description --> {{ weaponDescription }}</p>
							
				<h2><u>Status</u></h2>
					<p>Code --> {{ statusCode }}</p>
					<p>Description --> {{ statusDescription }}</p>
					
				<h2><u>Address</u></h2>
					<p>ID --> {{ adressID}}</p>
					<p>Street --> {{ adressStreet }}</p>
					<p>Cross Street --> {{ adressCrossStreet }}</p>
					<p>Location --> {{ adressGeoLocation }}</p>
					<p>Reporting District--> {{ adressReportingDistrict }}</p>
	</body>
</html>